{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HealthNet</title>
    <meta name="description" content="Homepage for HealthNet System">
    <meta name="author" content="ThemeForces.com, Liam Muller">

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome/css/font-awesome.css">

    <!-- Slider
    ================================================== -->
    <link href="/static/css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="/static/css/owl.theme.css" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/static/chosen/chosen.css">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="/static/js/modernizr.custom.js"></script>
    <link rel='stylesheet' href="{% static 'appointment/fullcalendar.css' %}" />


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div style="padding-bottom: 50px">
        {% include "navbarPages.html" %}
    </div>
    <div style="width: 75%; padding-top: 5%; margin: 0 auto">
        <div class="panel panel-info" style="border-radius: 20px 20px 0 0">
            <div id="appointmentDash" class="text-center" style="border-radius: 20px 20px 0 0">
                <div class="overlay" style="border-radius: 20px 20px 0 0">
                    <div class="panel-heading">
                        <div class="jumbotron jumboDash">
                            <div class="container text-center">
                                <h1>My <span style="color: #333">Appointments</span> </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% if not isNurse %}
            <div align="center">
                <div class="panel panel-body" style="width: 85%">
                    <div class="panel panel-info">
                        <div class="panel-heading" align="left"><a href="/appointment/" style="color: inherit">Monthly Calendar</a>
                        <i class="fa fa-caret-square-o-down" id="calHide"></i></div>
                        <div class="panel-body" id="calData">
                            <div id='calendar'></div>
                        </div>
                    </div>
                </div>
            <div class="row">
        {% else %}
            <div class="row" style="padding-top: 15px">
        {% endif %}
            <div class="col-lg-2 left">
                <div class="panel panel-info">
                    <div class="panel-heading"><a href="/appointment/" style="color: inherit">Appointment List</a>
                    <i class="fa fa-caret-square-o-down" id="listHide"></i></div>
                    {% if appointment_list %}
                    <div id="listData" style="max-height: 400px;overflow-y: auto;">
                        <table class="table table-striped">
                            {% for appointment in appointment_list %}
                                <tr class="appointment-link"
                                    data-a_id="{{ appointment.id }}"
                                    data-patient_name="{{ appointment.a_patient.fName }} {{ appointment.a_patient.lName }}"
                                    data-doctor_name="{{ appointment.a_doctor.fName }} {{ appointment.a_doctor.lName }}"
                                    data-title = "{{ appointment.a_title }}"
                                    data-description = "{{ appointment.a_description }}"
                                    data-date = "{{ appointment.a_date }}"
                                    data-starttime = "{{ appointment.a_starttime }}"
                                    data-endtime = "{{ appointment.a_endtime }}">
                                    <td class="tableAlign" style="cursor: pointer">
                                        <strong>
                                            {{ appointment.a_date }}
                                        </strong>
                                    </td>
                                    <td style="cursor: pointer">
                                        {{ appointment.a_title }}, {{ appointment.a_starttime }}
                                        with Dr. {{ appointment.a_doctor.fName }} {{ appointment.a_doctor.lName }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        {% if not isNurse %}
                        <div class="panel-body">
                            <div align="center">
                                <a class="btn btn-info" style="min-width: 100px;" href="/appointment/new/" id="new">Schedule Appointment</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% else %}
                        <div class="panel-body" id="listData">
                            <p>No Appointments</p>
                            {% if not isNurse %}
                            <div align="center">
                                <a class="btn btn-info" style="min-width: 100px;" href="/appointment/new/" id="new">Schedule Appointment</a>
                            </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-2 right">
                <div class="panel panel-info">
                    <div class="panel-heading"><a href="/appointment/" style="color: inherit">Appointment Info</a>
                        <i class="fa fa-caret-square-o-down" id="infoHide"></i>
                    </div>
                    <div id="info">
                        {% if not view %}
                            <div class="panel-body" id="a_instructions">
                                <p>
                                    Select a Appointment on the Left to View
                                </p>
                            </div>
                        {% endif %}
                        <div id="viewForm" style="display: none;">
                        <table id="viewForm" class="table table-striped">
                            <tr>
                                <td style="display: none" id="a_id">
                                <td class="tableAlign"><strong>Patient Name:</strong></td>
                                <td id="patient_name">
                            </tr>
                            <tr>
                                <td class="tableAlign"><strong>Doctor Name:</strong></td>
                                <td id="doctor_name">
                            </tr>
                            <tr>
                                <td class="tableAlign"><strong>Title:</strong></td>
                                <td id="a_title">
                            </tr>
                            <tr>
                                <td class="tableAlign"><strong>Description:</strong></td>
                                <td id="a_description">
                            </tr>
                            <tr>
                                <td class="tableAlign"><strong>Date:</strong></td>
                                <td id="a_date">
                            </tr>
                            <tr>
                                <td class="tableAlign"><strong>Start Time:</strong></td>
                                <td id="a_starttime">
                            </tr>
                            <tr>
                                <td class="tableAlign"><strong>End Time:</strong></td>
                                <td id="a_endtime">
                            </tr>
                        </table>
                            <div class="panel-body" align="center">
                                <a class="btn btn-info" id="edit" style="min-width: 100px;" href="#">
                                    Edit Appointment
                                </a>
                                {% if not isNurse %}
                                <div class="btn btn-info" style="min-width: 100px; cursor: pointer" id="delete">Delete Appointment</div>
                                <a class="btn btn-info" id="deleteConfirm" style="display: none; min-width: 100px;" href="#">
                                    Confirm Deletion
                                </a>
                                {% endif %}
                          </div>
                        </div>
                        <div id="newForm" style="display: none">
                            <form method="POST" action="">{% csrf_token %}
                            <table class="table table-striped">
                                {% for field in newForm %}
                                    {% if field.errors %}
                                        <tr>
                                        <td class="tableAlign alert-danger">{{ field.label_tag }}</td>
                                        <td class="alert-danger">{{ field }}</td>
                                        <td class="alert-danger">{{ field.errors }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                        <td class="tableAlign">{{ field.label_tag }}</td>
                                        {% if doctor %}
                                            {% if field == newForm.a_doctor %}
                                                <td>{{ doctor.fName }} {{ doctor.lName }}</td>
                                            {% else %}
                                                <td>{{ field }}</td>
                                            {% endif %}
                                        {% elif patient %}
                                            {% if field == newForm.a_patient %}
                                                <td>{{ patient.fName }} {{ patient.lName }}</td>
                                            {% else %}
                                                <td>{{ field }}</td>
                                            {% endif %}
                                        {% endif %}
                                        <td></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                            <div class="panel-body" align="center">
                                <button class="btn btn-info" type="submit" style="width: 100px;">Save</button>
                            </div>
                            </form>
                        </div>
                        <div id="editForm" style="display: none;">
                            <form method="POST" action="">{% csrf_token %}
                            <table class="table table-striped">
                                {% for field in editForm %}
                                    <tr>
                                    {% if field.errors %}
                                        <td class="tableAlign alert-danger">{{ field.label_tag }}</td>
                                        <td class="alert-danger">{{ field }}</td>
                                        <td class="alert-danger">{{ field.errors }}</td>
                                    {% else %}
                                        <td class="tableAlign">{{ field.label_tag }}</td>
                                        {% if field == editForm.a_doctor %}
                                            <td>{{ doctor.fName }} {{ doctor.lName }}</td>
                                        {% elif field == editForm.a_patient %}
                                            <td>{{ patient.fName }} {{ patient.lName }}</td>
                                        {% else %}
                                            <td>{{ field }}</td>
                                        {% endif %}
                                        <td></td>
                                    {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                            <div class="panel-body" align="center">
                                <button class="btn btn-info" type="submit" style="width: 100px;">Save</button>
                            </div>
                            </form>
                        </div>
                        <div class="panel-body" style="display: none" id="deleteView">
                            <p>Your Appointment has been Deleted</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.1.11.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/SmoothScroll.js"></script>
    <script type="text/javascript" src="/static/js/jquery.isotope.js"></script>

    <script src='{% static "appointment/scripts/lib/jquery.min.js" %}'></script>
    <script src='{% static "appointment/scripts/lib/moment.min.js" %}'></script>
    <script src='{% static "appointment/scripts/fullcalendar.js" %}'></script>

    <script type="text/javascript" src="/static/chosen/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="/static/chosen/chosen.proto.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".chzn-select").chosen();
}       );
    </script>
    <script>

        {% if p %}
            window.onload = deleteAppointment;

        function deleteAppointment(){
            var $del = $("#deleteView");
            var $toHide = $("#a_instructions");
            $("#calData").fadeOut();
            $toHide.slideUp();
            $del.slideDown();
        }
        {% endif %}

        {% if view %}
            window.onload = setView;

        function setView(){
            $("#calData").fadeOut();
            var $form = $("#viewForm");
            var $edit_container = $("#edit_container");
            var $new = $("#newForm");
            $new.slideUp();
            var $edit = $("#editForm");
            $edit.slideUp();
            var $instruct = $("#a_instructions");
            $instruct.slideUp();
            var $delete = $("#deleteView");
            $delete.slideUp();
            $("#a_id").text("{{ view.id }}");
            $("#patient_name").text("{{ view.a_patient.fName }}" + "{{ view.a_patient.lName }}");
            $("#doctor_name").text("{{ view.a_doctor.fName }}" + "{{ view.a_doctor.lName }}");
            $("#a_title").text("{{ view.a_title }}");
            $("#a_description").text("{{ view.a_description }}");
            $("#a_date").text("{{ view.a_date }}");
            $("#a_starttime").text("{{ view.a_starttime }}");
            $("#a_endtime").text("{{ view.a_endtime }}");
            $form.slideDown();
            $edit_container.slideDown();
        }
        {% endif %}

        {% if newForm %}
            window.onload = newAppointment;

        function newAppointment(){
            $("#calData").fadeOut();
            var $form = $("#newForm");
            var $toHide = $("#a_instructions");
            $toHide.slideUp()
            $form.slideDown();
        }
        {% endif %}

        {% if editForm %}
            window.onload = editAppointment;

        function editAppointment(){
            $("#calData").fadeOut();
            var $form = $("#editForm");
            var $toHide = $("#a_instructions");
            $toHide.slideUp()
            $form.slideDown();
        }
        {% endif %}

        var calendarData = {{ calendarData|safe }};
        $("#calHide").click(function (){
            var $element = $("#calData");
            $element.slideToggle();
        });
        $("#listHide").click(function (){
            var $element = $("#listData");
            $element.slideToggle();
        });
        $("#infoHide").click(function (){
            var $element = $("#info");
            $element.slideToggle();
        });

        $(".appointment-link").click(function () {
            var $tr = $(this);
            var $form = $("#viewForm");
            var $new = $("#newForm");
            $new.slideUp()
            var $edit = $("#editForm");
            $edit.slideUp()
            var $instruct = $("#a_instructions");
            $instruct.slideUp()
            var $delete = $("#deleteView");
            $delete.slideUp()
            $form.slideUp();
            setTimeout(function() {
                $("#a_id").text($tr.attr("data-a_id"));
                $("#patient_name").text($tr.attr("data-patient_name"));
                $("#doctor_name").text($tr.attr("data-doctor_name"));
                $("#a_title").text($tr.attr("data-title"));
                $("#a_description").text($tr.attr("data-description"));
                $("#a_date").text($tr.attr("data-date"));
                $("#a_starttime").text($tr.attr("data-starttime"));
                $("#a_endtime").text($tr.attr("data-endtime"));
                $form.slideDown();
            }, 400);
        });
        $("#edit").click(function (){
            window.location.href = "/appointment/"+$("#a_id").text()+"/edit/"
        });
        $("#delete").click(function (){
            $("#delete").slideToggle();
            $("#deleteConfirm").slideToggle();
        });

        $("#deleteConfirm").click(function (){
            window.location.href = "/appointment/"+$("#a_id").text()+"/delete/"
        });
    </script>
    <script src='{% static "appointment/scripts/runcal.js" %}'></script>

    <script src="/static/js/owl.carousel.js"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="/static/js/main.js"></script>
</html>
