{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HealthNet</title>
    <meta name="description" content="Homepage for HealthNet System">
    <meta name="author" content="ThemeForces.com, Liam Muller">

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome/css/font-awesome.css">

    <!-- Slider
    ================================================== -->
    <link href="/static/css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="/static/css/owl.theme.css" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="/static/js/modernizr.custom.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  <style>
      label{
          padding: 0;
          margin: 0;;
      }
  </style>
  </head>
  <body>
    <div style="padding-bottom: 50px">
        {% include "navbarPages.html" %}
    </div>
    <div style=" padding-top: 5%; margin: 0 auto" align="center">
        <div class="panel panel-info" style="border-radius: 20px 20px 10px 10px;width: 25%;" align="center">
            <div class="panel-heading" style="border-radius: 20px 20px 0 0" align="center">
                    <h1>Login To<span style="color: #333">HealthNet</span> </h1>
            </div>
            <div class="panel-body">
                <form method="POST" action=""> {% csrf_token %}
                    <table>
                        {% for field in form %}
                            {% if field.errors %}
                                <tr>
                                    <td>
                                        {{ field.label_tag }}<br>
                                        {{ field }}<br>
                                        <div class="alert-danger">{{ field.errors }}</div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>
                                        {{ field.label_tag }}<br>
                                        {{ field }}<br>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                    <br><br>
                    <button class="btn btn-info" type="submit" style="width: 100px;">Login</button>
                </form>
                <br>
                <a class="secondaryColor" href="/registration/">Don't have an account?</a>
            </div>
        </div>
    </div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.1.11.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/SmoothScroll.js"></script>
    <script type="text/javascript" src="/static/js/jquery.isotope.js"></script>

    <script src="/static/js/owl.carousel.js"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="/static/js/main.js"></script>

</html>